In [ ]:
# Importamos librerías externas: 

# Para arrancar el proyecto, necesitamos nuestras herramientas principales, que son las librerías que amplían las capacidades de Python
# Las librerías son herramientas creadas por la comunidad que amplían Python y se instalan con pip install + librería en cuestión

# Permite pedir y enviar información a páginas web y servidores. (Esencial para descargar la API)
import requests

# Organiza y analiza datos en forma de tablas (DataFrames). (Esencial para guardar las películas)
import pandas as pd

# Visualiza todas las columnas de los DataFrames (Muy útil cuando trabajas con DataFrames de Pandas que tienen muchas columnas)
pd.set_option('display.max_columns', None) 

# Conectar y manejar Bases de Datos MySQL. (Necesario para Fases 2 y 3)
import mysql.connector

In [27]:
# FASE 1: EXTRACCIÓN DE DATOS DE PELÍCULAS DESDE LA API

# URL de la API desde donde se obtendrán los datos de películas
url = "https://beta.adalab.es/resources/apis/pelis/pelis.json"

print(f"Intentando conectar a la API en: {url}")

# Bloque try/except para manejar posibles errores de conexión
try:
    # Petición GET a la URL para descargar los datos
    respuesta = requests.get(url)

    # Verificamos el código de estado del servidor (200 = OK)
    if respuesta.status_code == 200:
        print("Conexión exitosa. Código de estado:", respuesta.status_code)

        # Convertimos los datos de JSON a estructuras de Python (lista o diccionario)
        datos_pelis = respuesta.json()

        # Visualizamos la estructura de los datos descargados
        print(f"Estructura de los datos descargados en formato JSON: {datos_pelis}")

    else:
        # Si el código de estado no es 200, mostramos mensaje de error
        print(f"Error en la conexión. Código de estado: {respuesta.status_code}. No se pudieron extraer los datos.")

# Captura de errores comunes: falta de conexión a Internet, URL mal escrita o servidor caído
except requests.exceptions.RequestException as e:
    print(f"Ocurrió un error al intentar conectar a la API: {e}")

Intentando conectar a la API en: https://beta.adalab.es/resources/apis/pelis/pelis.json
Conexión exitosa. Código de estado: 200
Estructura de los datos descargados en formato JSON: [{'id': 1, 'titulo': 'The Godfather', 'año': 1972, 'duracion': 175, 'genero': 'Crimen', 'adultos': False, 'subtitulos': ['es', 'en']}, {'id': 2, 'titulo': 'The Godfather Part II', 'año': 1974, 'duracion': 202, 'genero': 'Crimen', 'adultos': False, 'subtitulos': ['es', 'en']}, {'id': 3, 'titulo': 'Pulp Fiction', 'año': 1994, 'duracion': 154, 'genero': 'Crimen', 'adultos': True, 'subtitulos': ['es', 'en']}, {'id': 4, 'titulo': 'Forrest Gump', 'año': 1994, 'duracion': 142, 'genero': 'Drama', 'adultos': False, 'subtitulos': ['es', 'en', 'fr']}, {'id': 5, 'titulo': 'The Dark Knight', 'año': 2008, 'duracion': 152, 'genero': 'Acción', 'adultos': False, 'subtitulos': ['es', 'en']}, {'id': 6, 'titulo': 'Fight Club', 'año': 1999, 'duracion': 139, 'genero': 'Drama', 'adultos': True, 'subtitulos': ['es', 'en']}, {'id': 7, 'titulo': 'Inception', 'año': 2010, 'duracion': 148, 'genero': 'Ciencia ficción', 'adultos': False, 'subtitulos': ['es', 'en', 'de']}, {'id': 8, 'titulo': 'The Matrix', 'año': 1999, 'duracion': 136, 'genero': 'Ciencia ficción', 'adultos': False, 'subtitulos': ['es', 'en']}, {'id': 9, 'titulo': 'The Shawshank Redemption', 'año': 1994, 'duracion': 142, 'genero': 'Drama', 'adultos': False, 'subtitulos': ['es', 'en']}, {'id': 10, 'titulo': 'Interstellar', 'año': 2014, 'duracion': 169, 'genero': 'Ciencia ficción', 'adultos': False, 'subtitulos': ['es', 'en']}, {'id': 11, 'titulo': 'Gladiator', 'año': 2000, 'duracion': 155, 'genero': 'Acción', 'adultos': False, 'subtitulos': ['es', 'en']}, {'id': 12, 'titulo': 'Titanic', 'año': 1997, 'duracion': 195, 'genero': 'Romance', 'adultos': False, 'subtitulos': ['es', 'en', 'fr']}, {'id': 13, 'titulo': 'Avatar', 'año': 2009, 'duracion': 162, 'genero': 'Ciencia ficción', 'adultos': False, 'subtitulos': ['es', 'en']}, {'id': 14, 'titulo': 'Saving Private Ryan', 'año': 1998, 'duracion': 169, 'genero': 'Bélico', 'adultos': True, 'subtitulos': ['es', 'en']}, {'id': 15, 'titulo': 'The Silence of the Lambs', 'año': 1991, 'duracion': 118, 'genero': 'Thriller', 'adultos': True, 'subtitulos': ['es', 'en']}, {'id': 16, 'titulo': 'Se7en', 'año': 1995, 'duracion': 127, 'genero': 'Thriller', 'adultos': True, 'subtitulos': ['es', 'en']}, {'id': 17, 'titulo': 'Goodfellas', 'año': 1990, 'duracion': 146, 'genero': 'Crimen', 'adultos': True, 'subtitulos': ['es', 'en']}, {'id': 18, 'titulo': 'The Departed', 'año': 2006, 'duracion': 151, 'genero': 'Crimen', 'adultos': True, 'subtitulos': ['es', 'en']}, {'id': 19, 'titulo': 'Whiplash', 'año': 2014, 'duracion': 106, 'genero': 'Drama', 'adultos': False, 'subtitulos': ['es', 'en']}, {'id': 20, 'titulo': 'La La Land', 'año': 2016, 'duracion': 128, 'genero': 'Musical', 'adultos': False, 'subtitulos': ['es', 'en']}, {'id': 21, 'titulo': 'The Lord of the Rings: The Fellowship of the Ring', 'año': 2001, 'duracion': 178, 'genero': 'Fantasía', 'adultos': False, 'subtitulos': ['es', 'en']}, {'id': 22, 'titulo': 'The Lord of the Rings: The Two Towers', 'año': 2002, 'duracion': 179, 'genero': 'Fantasía', 'adultos': False, 'subtitulos': ['es', 'en']}, {'id': 23, 'titulo': 'The Lord of the Rings: The Return of the King', 'año': 2003, 'duracion': 201, 'genero': 'Fantasía', 'adultos': False, 'subtitulos': ['es', 'en']}, {'id': 24, 'titulo': 'Star Wars: A New Hope', 'año': 1977, 'duracion': 121, 'genero': 'Ciencia ficción', 'adultos': False, 'subtitulos': ['es', 'en']}, {'id': 25, 'titulo': 'Star Wars: The Empire Strikes Back', 'año': 1980, 'duracion': 124, 'genero': 'Ciencia ficción', 'adultos': False, 'subtitulos': ['es', 'en']}, {'id': 26, 'titulo': 'Star Wars: Return of the Jedi', 'año': 1983, 'duracion': 131, 'genero': 'Ciencia ficción', 'adultos': False, 'subtitulos': ['es', 'en']}, {'id': 27, 'titulo': 'Back to the Future', 'año': 1985, 'duracion': 116, 'genero': 'Aventura', 'adultos': False, 'subtitulos': ['es', 'en']}, {'id': 28, 'titulo': 'Jurassic Park', 'año': 1993, 'duracion': 127, 'genero': 'Aventura', 'adultos': False, 'subtitulos': ['es', 'en']}, {'id': 29, 'titulo': 'The Lion King', 'año': 1994, 'duracion': 88, 'genero': 'Animación', 'adultos': False, 'subtitulos': ['es', 'en']}, {'id': 30, 'titulo': 'Toy Story', 'año': 1995, 'duracion': 81, 'genero': 'Animación', 'adultos': False, 'subtitulos': ['es', 'en']}, {'id': 31, 'titulo': 'Finding Nemo', 'año': 2003, 'duracion': 100, 'genero': 'Animación', 'adultos': False, 'subtitulos': ['es', 'en']}, {'id': 32, 'titulo': 'Shrek', 'año': 2001, 'duracion': 90, 'genero': 'Animación', 'adultos': False, 'subtitulos': ['es', 'en']}, {'id': 33, 'titulo': 'The Incredibles', 'año': 2004, 'duracion': 115, 'genero': 'Animación', 'adultos': False, 'subtitulos': ['es', 'en']}, {'id': 34, 'titulo': 'WALL·E', 'año': 2008, 'duracion': 98, 'genero': 'Animación', 'adultos': False, 'subtitulos': ['es', 'en']}, {'id': 35, 'titulo': 'Up', 'año': 2009, 'duracion': 96, 'genero': 'Animación', 'adultos': False, 'subtitulos': ['es', 'en']}, {'id': 36, 'titulo': 'Spirited Away', 'año': 2001, 'duracion': 125, 'genero': 'Animación', 'adultos': False, 'subtitulos': ['es', 'en', 'jp']}, {'id': 37, 'titulo': 'Princess Mononoke', 'año': 1997, 'duracion': 134, 'genero': 'Animación', 'adultos': True, 'subtitulos': ['es', 'en', 'jp']}, {'id': 38, 'titulo': 'The Green Mile', 'año': 1999, 'duracion': 189, 'genero': 'Drama', 'adultos': True, 'subtitulos': ['es', 'en']}, {'id': 39, 'titulo': 'The Truman Show', 'año': 1998, 'duracion': 103, 'genero': 'Drama', 'adultos': False, 'subtitulos': ['es', 'en']}, {'id': 40, 'titulo': 'The Social Network', 'año': 2010, 'duracion': 120, 'genero': 'Drama', 'adultos': False, 'subtitulos': ['es', 'en']}, {'id': 41, 'titulo': 'Joker', 'año': 2019, 'duracion': 122, 'genero': 'Drama', 'adultos': True, 'subtitulos': ['es', 'en']}, {'id': 42, 'titulo': 'Black Panther', 'año': 2018, 'duracion': 134, 'genero': 'Acción', 'adultos': False, 'subtitulos': ['es', 'en']}, {'id': 43, 'titulo': 'Iron Man', 'año': 2008, 'duracion': 126, 'genero': 'Acción', 'adultos': False, 'subtitulos': ['es', 'en']}, {'id': 44, 'titulo': 'The Avengers', 'año': 2012, 'duracion': 143, 'genero': 'Acción', 'adultos': False, 'subtitulos': ['es', 'en']}, {'id': 45, 'titulo': 'Avengers: Endgame', 'año': 2019, 'duracion': 181, 'genero': 'Acción', 'adultos': False, 'subtitulos': ['es', 'en']}, {'id': 46, 'titulo': 'Dune', 'año': 2021, 'duracion': 155, 'genero': 'Ciencia ficción', 'adultos': False, 'subtitulos': ['es', 'en']}, {'id': 47, 'titulo': 'Mad Max: Fury Road', 'año': 2015, 'duracion': 120, 'genero': 'Acción', 'adultos': True, 'subtitulos': ['es', 'en']}, {'id': 48, 'titulo': 'The Revenant', 'año': 2015, 'duracion': 156, 'genero': 'Aventura', 'adultos': True, 'subtitulos': ['es', 'en']}, {'id': 49, 'titulo': 'Parasite', 'año': 2019, 'duracion': 132, 'genero': 'Thriller', 'adultos': True, 'subtitulos': ['es', 'en', 'ko']}, {'id': 50, 'titulo': 'Oldboy', 'año': 2003, 'duracion': 120, 'genero': 'Thriller', 'adultos': True, 'subtitulos': ['es', 'en', 'ko']}, {'id': 51, 'titulo': 'The Pianist', 'año': 2002, 'duracion': 150, 'genero': 'Drama', 'adultos': True, 'subtitulos': ['es', 'en']}, {'id': 52, 'titulo': 'The Wolf of Wall Street', 'año': 2013, 'duracion': 180, 'genero': 'Biografía', 'adultos': True, 'subtitulos': ['es', 'en']}, {'id': 53, 'titulo': 'Her', 'año': 2013, 'duracion': 126, 'genero': 'Drama', 'adultos': False, 'subtitulos': ['es', 'en']}, {'id': 54, 'titulo': 'Gravity', 'año': 2013, 'duracion': 91, 'genero': 'Ciencia ficción', 'adultos': False, 'subtitulos': ['es', 'en']}, {'id': 55, 'titulo': 'The Shape of Water', 'año': 2017, 'duracion': 123, 'genero': 'Fantasía', 'adultos': True, 'subtitulos': ['es', 'en']}, {'id': 56, 'titulo': 'Get Out', 'año': 2017, 'duracion': 104, 'genero': 'Terror', 'adultos': True, 'subtitulos': ['es', 'en']}, {'id': 57, 'titulo': 'It', 'año': 2017, 'duracion': 135, 'genero': 'Terror', 'adultos': True, 'subtitulos': ['es', 'en']}, {'id': 58, 'titulo': 'The Conjuring', 'año': 2013, 'duracion': 112, 'genero': 'Terror', 'adultos': True, 'subtitulos': ['es', 'en']}, {'id': 59, 'titulo': 'A Quiet Place', 'año': 2018, 'duracion': 90, 'genero': 'Terror', 'adultos': False, 'subtitulos': ['es', 'en']}, {'id': 60, 'titulo': 'The Exorcist', 'año': 1973, 'duracion': 122, 'genero': 'Terror', 'adultos': True, 'subtitulos': ['es', 'en']}, {'id': 61, 'titulo': 'The Shining', 'año': 1980, 'duracion': 144, 'genero': 'Terror', 'adultos': True, 'subtitulos': ['es', 'en']}, {'id': 62, 'titulo': 'Blade Runner', 'año': 1982, 'duracion': 117, 'genero': 'Ciencia ficción', 'adultos': True, 'subtitulos': ['es', 'en']}, {'id': 63, 'titulo': 'Blade Runner 2049', 'año': 2017, 'duracion': 164, 'genero': 'Ciencia ficción', 'adultos': True, 'subtitulos': ['es', 'en']}, {'id': 64, 'titulo': 'Alien', 'año': 1979, 'duracion': 117, 'genero': 'Ciencia ficción', 'adultos': True, 'subtitulos': ['es', 'en']}, {'id': 65, 'titulo': 'Aliens', 'año': 1986, 'duracion': 137, 'genero': 'Ciencia ficción', 'adultos': True, 'subtitulos': ['es', 'en']}, {'id': 66, 'titulo': 'The Terminator', 'año': 1984, 'duracion': 107, 'genero': 'Acción', 'adultos': True, 'subtitulos': ['es', 'en']}, {'id': 67, 'titulo': 'Terminator 2: Judgment Day', 'año': 1991, 'duracion': 137, 'genero': 'Acción', 'adultos': False, 'subtitulos': ['es', 'en']}, {'id': 68, 'titulo': 'Rocky', 'año': 1976, 'duracion': 120, 'genero': 'Drama', 'adultos': False, 'subtitulos': ['es', 'en']}, {'id': 69, 'titulo': 'Raging Bull', 'año': 1980, 'duracion': 129, 'genero': 'Biografía', 'adultos': True, 'subtitulos': ['es', 'en']}, {'id': 70, 'titulo': 'Taxi Driver', 'año': 1976, 'duracion': 113, 'genero': 'Drama', 'adultos': True, 'subtitulos': ['es', 'en']}, {'id': 71, 'titulo': 'Casablanca', 'año': 1942, 'duracion': 102, 'genero': 'Romance', 'adultos': False, 'subtitulos': ['es', 'en']}, {'id': 72, 'titulo': 'Citizen Kane', 'año': 1941, 'duracion': 119, 'genero': 'Drama', 'adultos': False, 'subtitulos': ['es', 'en']}, {'id': 73, 'titulo': 'Psycho', 'año': 1960, 'duracion': 109, 'genero': 'Terror', 'adultos': True, 'subtitulos': ['es', 'en']}, {'id': 74, 'titulo': 'Vertigo', 'año': 1958, 'duracion': 128, 'genero': 'Suspense', 'adultos': False, 'subtitulos': ['es', 'en']}, {'id': 75, 'titulo': 'Rear Window', 'año': 1954, 'duracion': 112, 'genero': 'Suspense', 'adultos': False, 'subtitulos': ['es', 'en']}, {'id': 76, 'titulo': '12 Angry Men', 'año': 1957, 'duracion': 96, 'genero': 'Drama', 'adultos': False, 'subtitulos': ['es', 'en']}, {'id': 77, 'titulo': "Schindler's List", 'año': 1993, 'duracion': 195, 'genero': 'Drama', 'adultos': True, 'subtitulos': ['es', 'en']}, {'id': 78, 'titulo': 'American Beauty', 'año': 1999, 'duracion': 122, 'genero': 'Drama', 'adultos': True, 'subtitulos': ['es', 'en']}, {'id': 79, 'titulo': 'No Country for Old Men', 'año': 2007, 'duracion': 122, 'genero': 'Crimen', 'adultos': True, 'subtitulos': ['es', 'en']}, {'id': 80, 'titulo': 'The Big Lebowski', 'año': 1998, 'duracion': 117, 'genero': 'Comedia', 'adultos': True, 'subtitulos': ['es', 'en']}, {'id': 81, 'titulo': 'Amélie', 'año': 2001, 'duracion': 122, 'genero': 'Romance', 'adultos': False, 'subtitulos': ['es', 'en', 'fr']}, {'id': 82, 'titulo': 'The Intouchables', 'año': 2011, 'duracion': 112, 'genero': 'Drama', 'adultos': False, 'subtitulos': ['es', 'en', 'fr']}, {'id': 83, 'titulo': 'City of God', 'año': 2002, 'duracion': 130, 'genero': 'Crimen', 'adultos': True, 'subtitulos': ['es', 'en', 'pt']}, {'id': 84, 'titulo': "Pan's Labyrinth", 'año': 2006, 'duracion': 118, 'genero': 'Fantasía', 'adultos': True, 'subtitulos': ['es', 'en']}, {'id': 85, 'titulo': 'Roma', 'año': 2018, 'duracion': 135, 'genero': 'Drama', 'adultos': True, 'subtitulos': ['es', 'en']}, {'id': 86, 'titulo': 'Slumdog Millionaire', 'año': 2008, 'duracion': 120, 'genero': 'Drama', 'adultos': False, 'subtitulos': ['es', 'en']}, {'id': 87, 'titulo': 'Million Dollar Baby', 'año': 2004, 'duracion': 132, 'genero': 'Drama', 'adultos': True, 'subtitulos': ['es', 'en']}, {'id': 88, 'titulo': "The King's Speech", 'año': 2010, 'duracion': 118, 'genero': 'Biografía', 'adultos': False, 'subtitulos': ['es', 'en']}, {'id': 89, 'titulo': 'Argo', 'año': 2012, 'duracion': 120, 'genero': 'Thriller', 'adultos': False, 'subtitulos': ['es', 'en']}, {'id': 90, 'titulo': 'Moonlight', 'año': 2016, 'duracion': 111, 'genero': 'Drama', 'adultos': True, 'subtitulos': ['es', 'en']}, {'id': 91, 'titulo': 'Manchester by the Sea', 'año': 2016, 'duracion': 137, 'genero': 'Drama', 'adultos': True, 'subtitulos': ['es', 'en']}, {'id': 92, 'titulo': 'Birdman', 'año': 2014, 'duracion': 119, 'genero': 'Drama', 'adultos': True, 'subtitulos': ['es', 'en']}, {'id': 93, 'titulo': 'Django Unchained', 'año': 2012, 'duracion': 165, 'genero': 'Western', 'adultos': True, 'subtitulos': ['es', 'en']}, {'id': 94, 'titulo': 'Inglourious Basterds', 'año': 2009, 'duracion': 153, 'genero': 'Bélico', 'adultos': True, 'subtitulos': ['es', 'en']}, {'id': 95, 'titulo': 'The Hateful Eight', 'año': 2015, 'duracion': 168, 'genero': 'Western', 'adultos': True, 'subtitulos': ['es', 'en']}, {'id': 96, 'titulo': 'La vita è bella', 'año': 1997, 'duracion': 116, 'genero': 'Drama', 'adultos': False, 'subtitulos': ['es', 'en', 'it']}, {'id': 97, 'titulo': 'Requiem for a Dream', 'año': 2000, 'duracion': 102, 'genero': 'Drama', 'adultos': True, 'subtitulos': ['es', 'en']}, {'id': 98, 'titulo': 'Memento', 'año': 2000, 'duracion': 113, 'genero': 'Thriller', 'adultos': True, 'subtitulos': ['es', 'en']}, {'id': 99, 'titulo': 'Eternal Sunshine of the Spotless Mind', 'año': 2004, 'duracion': 108, 'genero': 'Drama', 'adultos': False, 'subtitulos': ['es', 'en']}, {'id': 100, 'titulo': 'Donnie Darko', 'año': 2001, 'duracion': 113, 'genero': 'Drama', 'adultos': True, 'subtitulos': ['es', 'en']}]

In [28]:
# Verificamos el tipo de dato
# Aunque sabemos que es una lista, es buena práctica confirmar el tipo antes de procesarlo
print(f"El tipo de dato es: {type(datos_pelis)}")

El tipo de dato es: <class 'list'>

In [ ]:
# Creamos un DataFrame de Pandas (similar a una tabla de Excel) a partir de la lista de películas
# Un DataFrame organiza los datos en filas y columnas, lo que facilita analizarlos y manipularlos
df_peliculas = pd.DataFrame(datos_pelis)

# Mostramos el DataFrame para comprobar que los datos se han cargado correctamente ( sin índices para mejorar la visualización)
print(df_peliculas.to_string(index=False))

# Mostramos el número total de películas extraídas (deberían ser 100)
print(f"Número total de películas extraídas: {len(df_peliculas)}")

 id                                            titulo  año  duracion          genero  adultos   subtitulos
  1                                     The Godfather 1972       175          Crimen    False     [es, en]
  2                             The Godfather Part II 1974       202          Crimen    False     [es, en]
  3                                      Pulp Fiction 1994       154          Crimen     True     [es, en]
  4                                      Forrest Gump 1994       142           Drama    False [es, en, fr]
  5                                   The Dark Knight 2008       152          Acción    False     [es, en]
  6                                        Fight Club 1999       139           Drama     True     [es, en]
  7                                         Inception 2010       148 Ciencia ficción    False [es, en, de]
  8                                        The Matrix 1999       136 Ciencia ficción    False     [es, en]
  9                          The Shawshank Redemption 1994       142           Drama    False     [es, en]
 10                                      Interstellar 2014       169 Ciencia ficción    False     [es, en]
 11                                         Gladiator 2000       155          Acción    False     [es, en]
 12                                           Titanic 1997       195         Romance    False [es, en, fr]
 13                                            Avatar 2009       162 Ciencia ficción    False     [es, en]
 14                               Saving Private Ryan 1998       169          Bélico     True     [es, en]
 15                          The Silence of the Lambs 1991       118        Thriller     True     [es, en]
 16                                             Se7en 1995       127        Thriller     True     [es, en]
 17                                        Goodfellas 1990       146          Crimen     True     [es, en]
 18                                      The Departed 2006       151          Crimen     True     [es, en]
 19                                          Whiplash 2014       106           Drama    False     [es, en]
 20                                        La La Land 2016       128         Musical    False     [es, en]
 21 The Lord of the Rings: The Fellowship of the Ring 2001       178        Fantasía    False     [es, en]
 22             The Lord of the Rings: The Two Towers 2002       179        Fantasía    False     [es, en]
 23     The Lord of the Rings: The Return of the King 2003       201        Fantasía    False     [es, en]
 24                             Star Wars: A New Hope 1977       121 Ciencia ficción    False     [es, en]
 25                Star Wars: The Empire Strikes Back 1980       124 Ciencia ficción    False     [es, en]
 26                     Star Wars: Return of the Jedi 1983       131 Ciencia ficción    False     [es, en]
 27                                Back to the Future 1985       116        Aventura    False     [es, en]
 28                                     Jurassic Park 1993       127        Aventura    False     [es, en]
 29                                     The Lion King 1994        88       Animación    False     [es, en]
 30                                         Toy Story 1995        81       Animación    False     [es, en]
 31                                      Finding Nemo 2003       100       Animación    False     [es, en]
 32                                             Shrek 2001        90       Animación    False     [es, en]
 33                                   The Incredibles 2004       115       Animación    False     [es, en]
 34                                            WALL·E 2008        98       Animación    False     [es, en]
 35                                                Up 2009        96       Animación    False     [es, en]
 36                                     Spirited Away 2001       125       Animación    False [es, en, jp]
 37                                 Princess Mononoke 1997       134       Animación     True [es, en, jp]
 38                                    The Green Mile 1999       189           Drama     True     [es, en]
 39                                   The Truman Show 1998       103           Drama    False     [es, en]
 40                                The Social Network 2010       120           Drama    False     [es, en]
 41                                             Joker 2019       122           Drama     True     [es, en]
 42                                     Black Panther 2018       134          Acción    False     [es, en]
 43                                          Iron Man 2008       126          Acción    False     [es, en]
 44                                      The Avengers 2012       143          Acción    False     [es, en]
 45                                 Avengers: Endgame 2019       181          Acción    False     [es, en]
 46                                              Dune 2021       155 Ciencia ficción    False     [es, en]
 47                                Mad Max: Fury Road 2015       120          Acción     True     [es, en]
 48                                      The Revenant 2015       156        Aventura     True     [es, en]
 49                                          Parasite 2019       132        Thriller     True [es, en, ko]
 50                                            Oldboy 2003       120        Thriller     True [es, en, ko]
 51                                       The Pianist 2002       150           Drama     True     [es, en]
 52                           The Wolf of Wall Street 2013       180       Biografía     True     [es, en]
 53                                               Her 2013       126           Drama    False     [es, en]
 54                                           Gravity 2013        91 Ciencia ficción    False     [es, en]
 55                                The Shape of Water 2017       123        Fantasía     True     [es, en]
 56                                           Get Out 2017       104          Terror     True     [es, en]
 57                                                It 2017       135          Terror     True     [es, en]
 58                                     The Conjuring 2013       112          Terror     True     [es, en]
 59                                     A Quiet Place 2018        90          Terror    False     [es, en]
 60                                      The Exorcist 1973       122          Terror     True     [es, en]
 61                                       The Shining 1980       144          Terror     True     [es, en]
 62                                      Blade Runner 1982       117 Ciencia ficción     True     [es, en]
 63                                 Blade Runner 2049 2017       164 Ciencia ficción     True     [es, en]
 64                                             Alien 1979       117 Ciencia ficción     True     [es, en]
 65                                            Aliens 1986       137 Ciencia ficción     True     [es, en]
 66                                    The Terminator 1984       107          Acción     True     [es, en]
 67                        Terminator 2: Judgment Day 1991       137          Acción    False     [es, en]
 68                                             Rocky 1976       120           Drama    False     [es, en]
 69                                       Raging Bull 1980       129       Biografía     True     [es, en]
 70                                       Taxi Driver 1976       113           Drama     True     [es, en]
 71                                        Casablanca 1942       102         Romance    False     [es, en]
 72                                      Citizen Kane 1941       119           Drama    False     [es, en]
 73                                            Psycho 1960       109          Terror     True     [es, en]
 74                                           Vertigo 1958       128        Suspense    False     [es, en]
 75                                       Rear Window 1954       112        Suspense    False     [es, en]
 76                                      12 Angry Men 1957        96           Drama    False     [es, en]
 77                                  Schindler's List 1993       195           Drama     True     [es, en]
 78                                   American Beauty 1999       122           Drama     True     [es, en]
 79                            No Country for Old Men 2007       122          Crimen     True     [es, en]
 80                                  The Big Lebowski 1998       117         Comedia     True     [es, en]
 81                                            Amélie 2001       122         Romance    False [es, en, fr]
 82                                  The Intouchables 2011       112           Drama    False [es, en, fr]
 83                                       City of God 2002       130          Crimen     True [es, en, pt]
 84                                   Pan's Labyrinth 2006       118        Fantasía     True     [es, en]
 85                                              Roma 2018       135           Drama     True     [es, en]
 86                               Slumdog Millionaire 2008       120           Drama    False     [es, en]
 87                               Million Dollar Baby 2004       132           Drama     True     [es, en]
 88                                 The King's Speech 2010       118       Biografía    False     [es, en]
 89                                              Argo 2012       120        Thriller    False     [es, en]
 90                                         Moonlight 2016       111           Drama     True     [es, en]
 91                             Manchester by the Sea 2016       137           Drama     True     [es, en]
 92                                           Birdman 2014       119           Drama     True     [es, en]
 93                                  Django Unchained 2012       165         Western     True     [es, en]
 94                              Inglourious Basterds 2009       153          Bélico     True     [es, en]
 95                                 The Hateful Eight 2015       168         Western     True     [es, en]
 96                                   La vita è bella 1997       116           Drama    False [es, en, it]
 97                               Requiem for a Dream 2000       102           Drama     True     [es, en]
 98                                           Memento 2000       113        Thriller     True     [es, en]
 99             Eternal Sunshine of the Spotless Mind 2004       108           Drama    False     [es, en]
100                                      Donnie Darko 2001       113           Drama     True     [es, en]
Número total de películas extraídas: 100

In [ ]:
# La columna subtitulos es la única que contiene una lista [es, en, fr]
# Para poder buscar elementos dentro de esa columna, necesitamos convertir la lista a texto
# Con astype(str), transformamos la lista en una cadena de texto, lo que permite usar búsquedas tipo LIKE
df_peliculas['subtitulos'] = df_peliculas['subtitulos'].astype(str)

In [31]:
# Verificamos la versión de mysql-connector-python
print(f"Versión: {mysql.connector.__version__}")

'''
- Importante para conectar Python con MySQL.
- Versiones muy antiguas pueden dar errores al ejecutar consultas.
- Versiones demasiado nuevas pueden no ser 100% compatibles con tu servidor MySQL.
- Comprueba la versión recomendada en la documentación oficial.
- Si está dentro del rango recomendado, la conexión y consultas deberían funcionar sin problemas.

'''

Versión: 9.5.0

'\n- Importante para conectar Python con MySQL.\n- Versiones muy antiguas pueden dar errores al ejecutar consultas.\n- Versiones demasiado nuevas pueden no ser 100% compatibles con tu servidor MySQL.\n- Comprueba la versión recomendada en la documentación oficial.\n- Si está dentro del rango recomendado, la conexión y consultas deberían funcionar sin problemas.\n\n'

In [ ]:
# FASE 2: CREACIÓN DE LA BASE DE DATOS (VERSIÓN PYTHON)

# A. Conexión a MySQL
try:
    # Intentamos conectarnos al servidor MySQL
    cnx = mysql.connector.connect(
        host='127.0.0.1',    # Dirección del servidor MySQL (localhost)
        user='root',         # Usuario con el que nos conectamos
        password='contraseña',  # Contraseña del usuario
        use_pure=True,       # use_pure=True garantiza compatibilidad con Python 3.12, evita problemas en el Kernel
    )
    print('Conexión exitosa')  # Confirmamos que la conexión fue correcta
except mysql.connector.Error as e:  # Captura errores relacionados con MySQL
    print('Error al conectar:', e)   # Muestra el error para diagnosticar el problema

Conexión exitosa

In [33]:
'''
Cambio de la contraseña del usuario root (si es necesario)
Usar una contraseña fuerte, combinando mayúsculas, minúsculas, números y símbolos.
ALTER USER 'root'@'localhost' IDENTIFIED BY 'ContraseñaNueva';
FLUSH PRIVILEGES;
'''

"\nCambio de la contraseña del usuario root (si es necesario)\nUsar una contraseña fuerte, combinando mayúsculas, minúsculas, números y símbolos.\nALTER USER 'root'@'localhost' IDENTIFIED BY 'ContraseñaNueva';\nFLUSH PRIVILEGES;\n"

In [34]:
# B. Creación de la base de datos

try:
    # Creamos un cursor: es el intermediario entre Python y MySQL, necesario para ejecutar consultas SQL
    mycursor = cnx.cursor()

    # Consulta SQL para crear la base de datos si no existe
    # "IF NOT EXISTS" evita errores si la base de datos ya está creada
    query_create_database = "CREATE DATABASE IF NOT EXISTS peliculas_db"

    # Ejecutamos la consulta SQL para crear la base de datos
    mycursor.execute(query_create_database)
    print("Base de datos creada correctamente (o ya existía).")

# Captura errores relacionados con MySQL (por ejemplo, permisos insuficientes)
except mysql.connector.Error as e:  
    print("Ocurrió un error al crear la base de datos:", e)

Base de datos creada correctamente (o ya existía).

In [35]:
# C. Creación de las tablas

try:
    # Seleccionamos la base de datos donde vamos a trabajar
    mycursor.execute("USE peliculas_db")

    # Comando SQL para crear la tabla 'peliculas' si no existe
    query_creacion_tabla = """
    CREATE TABLE IF NOT EXISTS peliculas (
        id INT AUTO_INCREMENT PRIMARY KEY,   # Identificador único
        titulo VARCHAR(255) NOT NULL,        # Título obligatorio
        año YEAR,                            # Año de estreno
        duracion INT,                        # Duración en minutos
        genero VARCHAR(100),                 # Género de la película
        adultos TINYINT(1),                  # 0 = No adultos, 1 = Adultos
        subtitulos VARCHAR(255)              # Idioma de subtítulos
    );
    """

    # Ejecutamos la consulta SQL para crear la tabla
    mycursor.execute(query_creacion_tabla)
    print("Tabla peliculas creada correctamente (o ya existía).")

except mysql.connector.Error as e:
    # Capturamos y mostramos cualquier error de MySQL
    print("Ocurrió un error al crear la tabla:", e)

Tabla peliculas creada correctamente (o ya existía).

In [ ]:
# FASE 3: INSERCIÓN DE DATOS

# Query con %s como placeholders para cada columna
query_insercion = """
INSERT IGNORE INTO peliculas 
(id, titulo, año, duracion, genero, adultos, subtitulos) 
VALUES (%s, %s, %s, %s, %s, %s, %s)
"""
# INSERT IGNORE INTO intenta insertar el registro
# Si es duplicado (por ejemplo, la misma clave primaria o única), simplemente no lo inserta y no genera error
# Si no es duplicado, sí lo inserta normalmente

# Cambiar valores NaN por None para que MySQL los acepte como NULL
df_limpieza = df_peliculas.where(pd.notnull(df_peliculas), None)

# Pasar el DataFrame a lista de listas
datos_peliculas = df_limpieza.values.tolist()

try:
    # Insertar todos los registros
    mycursor.executemany(query_insercion, datos_peliculas)

    # Guardar cambios
    cnx.commit()

    print("Se han insertado", mycursor.rowcount, "registros")

except Exception as e:
    print("Ocurrió un error al insertar los datos:", e)


finally: 
    # Cerrar cursor y conexión
    mycursor.close()

Se han insertado 0 registros

In [ ]:
mycursor = cnx.cursor()

# 1. Películas con duración > 120 minutos
mycursor.execute("SELECT COUNT(id) AS total_peliculas_largas FROM peliculas WHERE duracion > 120")
total_peliculas_largas = mycursor.fetchone()[0]
print("Películas largas (>120 min):", total_peliculas_largas)

# fetchone()[0] cuando solo necesitamos un valor de la fila devuelta

Películas largas (>120 min): 59

In [ ]:
# 2. Películas con subtítulos en español
# Este es un caso especial dentro de las 9 consultas
# porque la columna subtítulos, originalmente, contenía una lista [es, en, fr]
# Para evitar errores al consultar, se convirtió la lista a string usando astype(str)
# Esto permite realizar consultas sobre los subtítulos sin problemas

mycursor.execute("SELECT COUNT(id) AS total_subtitulos_es FROM peliculas WHERE subtitulos LIKE '%es%'")
total_subtitulos_es = mycursor.fetchone()[0]
print("Películas con subtítulos en español:", total_subtitulos_es)

Películas con subtítulos en español: 100

In [41]:
 # 3. Películas con contenido adulto
mycursor.execute("SELECT COUNT(id) AS total_contenido_adulto FROM peliculas WHERE adultos = 1")
total_contenido_adulto = mycursor.fetchone()[0]
print("Películas con contenido adulto:", total_contenido_adulto)

Películas con contenido adulto: 47

In [17]:
 # 4. Película más antigua
mycursor.execute("SELECT titulo, año FROM peliculas ORDER BY año ASC LIMIT 1")
pelicula_mas_antigua = mycursor.fetchone()
print("Película más antigua:", pelicula_mas_antigua)

Película más antigua: ('Citizen Kane', 1941)

In [ ]:
# 5. Promedio de duración por género
mycursor.execute("SELECT genero, AVG(duracion) FROM peliculas GROUP BY genero")
promedios = mycursor.fetchall()

# Para mejorar la visibilidad de los resultados, los mostramos en un DataFrame de Pandas que organiza los datos en columnas
df_promedios = pd.DataFrame(promedios, columns=["Genero", "Duracion_Promedio"])
print(df_promedios)

             Genero Duracion_Promedio
0            Crimen          154.2857
1             Drama          126.2593
2            Acción          139.4444
3   Ciencia ficción          136.3077
4           Romance          139.6667
5            Bélico          161.0000
6          Thriller          121.6667
7           Musical          128.0000
8          Fantasía          159.8000
9          Aventura          133.0000
10        Animación          103.0000
11        Biografía          142.3333
12           Terror          116.5714
13         Suspense          120.0000
14          Comedia          117.0000
15          Western          166.5000

In [ ]:
# 6. Películas por año (Ordena de menor a mayor)
mycursor.execute("SELECT año, COUNT(id) AS total_peliculas FROM peliculas GROUP BY año ORDER BY año ASC")
peliculas_por_año = mycursor.fetchall()

# Para mejorar la visibilidad de los resultados, los mostramos en un DataFrame de Pandas que organiza los datos en columnas
df_peliculas_por_año = pd.DataFrame(peliculas_por_año, columns=["Año", "Total_Peliculas"])
# No mostrar el índice para una mejor presentación ( diferencia con el anterior)
print(df_peliculas_por_año.to_string(index=False))

 Año  Total_Peliculas
1941                1
1942                1
1954                1
1957                1
1958                1
1960                1
1972                1
1973                1
1974                1
1976                2
1977                1
1979                1
1980                3
1982                1
1983                1
1984                1
1985                1
1986                1
1990                1
1991                2
1993                2
1994                4
1995                2
1997                3
1998                3
1999                4
2000                3
2001                5
2002                3
2003                3
2004                3
2006                2
2007                1
2008                4
2009                3
2010                3
2011                1
2012                3
2013                4
2014                3
2015                3
2016                3
2017                4
2018                3
2019                3
2021                1

In [20]:
# 7. Año con más películas
mycursor.execute("SELECT año, COUNT(id) FROM peliculas GROUP BY año ORDER BY COUNT(id) DESC LIMIT 1")
año_mas_peliculas = mycursor.fetchone()
print("Año con más películas:", año_mas_peliculas)

Año con más películas: (2001, 5)

In [ ]:
# 8. Películas por género
mycursor.execute("SELECT genero, COUNT(id) AS total_peliculas FROM peliculas GROUP BY genero")
peliculas_por_genero = mycursor.fetchall()

# Para mejorar la visibilidad de los resultados, los mostramos en un DataFrame de Pandas que organiza los datos en columnas
df_peliculas_por_genero = pd.DataFrame(peliculas_por_genero, columns=["Genero", "Total_Peliculas"])
print(df_peliculas_por_genero.to_string(index=False))

         Genero  Total_Peliculas
         Crimen                7
          Drama               27
         Acción                9
Ciencia ficción               13
        Romance                3
         Bélico                2
       Thriller                6
        Musical                1
       Fantasía                5
       Aventura                3
      Animación                9
      Biografía                3
         Terror                7
       Suspense                2
        Comedia                1
        Western                2

In [ ]:
# 9. Películas que contienen 'Godfather'
mycursor.execute("SELECT titulo FROM peliculas WHERE titulo LIKE '%Godfather%'")
godfather_peliculas = mycursor.fetchall()
print("Películas con 'Godfather' en el título:", godfather_peliculas)

# Cerrar cursor y conexión
mycursor.close()

Películas con 'Godfather' en el título: [('The Godfather',), ('The Godfather Part II',)]